In [1]:
import pandas as pd

In [3]:
features8 = ['iyear', 
             'imonth',
             'iday',
             'multiple',
             'success',
             'suicide',
             'nkill',
             'nkillus',
             'nkillter',
             'nwound',
             'nwoundte',
             'ishostkid',
             'property']
            

# Features below need to be trasnformed into dummy matrix 
features_cat8 = ['country_txt',
                 'city',
                 'attacktype1_txt',
                 'weaptype1_txt',
                 'targtype1_txt',
                 'natlty1_txt']

labels8 = ['gname']

In [5]:
df_v = pd.DataFrame(
            {'gname': [],
             'iyear': [], 
             'imonth': [],
             'iday': [],
             'multiple': [],
             'success': [],
             'suicide': [],
             'nkill': [],
             'nkillus': [],
             'nkillter': [],
             'nwound': [],
             'nwoundte': [],
             'ishostkid': [],
             'property': [],
             'country_txt': [],
             'city': [],
             'attacktype1_txt': [],
             'weaptype1_txt': [],
             'targtype1_txt': [],
             'natlty1_txt': []}, 
              columns=labels8 + features8 + features_cat8)
df_v = pd.get_dummies(df_v, columns=features_cat8)

Xv = df_v.iloc[:,1:]
yv = df_v.iloc[:,0]

Empty DataFrame
Columns: [gname, iyear, imonth, iday, multiple, success, suicide, nkill, nkillus, nkillter, nwound, nwoundte, ishostkid, property, country_txt, city, attacktype1_txt, weaptype1_txt, targtype1_txt, natlty1_txt]
Index: []

In [7]:
df_8=pd.DataFrame(columns=["A","B","c"])

In [8]:
dfv=pd.DataFrame(columns=df_8.columns)

In [9]:
dfv

Empty DataFrame
Columns: [A, B, c]
Index: []